<div class="header_view" header></div>
<main id="registerWrapper" aria-label="Register to join the Operator Workbench" role="main">
    <section class="page-section-container">
        <div class="page-section">
            <div class="page-content register-form-container clearfix">
                <h1 class="ibm-bold ibmTeal-50 center_text" id="welcome">Join the Globalization Workbench!</h1>
                <form novalidate name="registerForm">
                    <fieldset>
                        <div class="form-group col-xs-12 clearfix">
                            <label for="firstName_input"><span class="ibmRed-50">*</span>First Name</label>
                            <input type="text" value="{{ctrlReg.user.fname}}" name="firstName" id="firstName_input" ng-model="ctrlReg.user.fname" ng-trim="false" class="form-control" required ng-class="{'has-error': registerForm.firstName.$error.required && registerForm.$submitted}"/>
                            <span class="has-error" ng-show="registerForm.firstName.$error.required && registerForm.$submitted">First Name Required</span>
                        </div>

                        <div class="form-group col-xs-12 clearfix">
                            <label for="lastName_input"><span class="ibmRed-50">*</span>Last Name</label>
                            <input type="text" value="{{ctrlReg.user.lastName}}" name="lastName" id="lastName_input" ng-model="ctrlReg.user.lname" ng-trim="false" class="form-control" required ng-class="{'has-error': registerForm.lastName.$error.required && registerForm.$submitted}"/>
                            <span class="has-error" ng-show="registerForm.lastName.$error.required && registerForm.$submitted">Last Name Required</span>
                        </div>

                        <div class="form-group col-xs-12 clearfix">
                            <label for="locales_select">What locales are you responsible for?</label>

                            <select name="select_projectLocales" id="locales_select" class="general_multi_select col-xs-12 register_locales_select" multiple
                                    ng-model="ctrlReg.selectedLocales" ng-options="code as name for (code, name) in ctrlReg.locales" ng-change="ctrlReg.changeLocales()">
                            </select>
                            <p class="ibmGray-40">To select multiple items: Hold down the command key (Mac) or the control key (PC), and click each item you want to select. </p>
                        </div>

                        <div class="select_input_container" ng-repeat="obj in ctrlReg.localeRoleMaps track by $index">
                          <input type="hidden" name="projectRole{{$index}}" ng-model="obj.role" required/>
                          <div class="form-group col-xs-12 clearfix" uib-dropdown>
                            <label class="control-label" for="select_role_dropdown_{{$index}}"><span class="ibmRed-50">*</span>What is your role in {{ctrlReg.locales[obj.locale]}}?</label>
                            <button aria-label="Your currently selected Role is {{obj.role}}. Select from the options below to change it." id="select_role_dropdown_{{$index}}" type="button" name="select_role_dropdown_{{$index}}" class="btn dropdown_btn ibm-chevron-down-link cols-xs-12" uib-dropdown-toggle ng-class="{'has-error': registerForm.select_role_dropdown_{{$index}}.$error.required && registerForm.$submitted}">
                              <span ng-if="!ctrlReg.showOther[$index]">{{obj.role === '' ? 'Select one' : obj.role}}</span>
                              <span ng-if="ctrlReg.showOther[$index]">Other</span>
                            </button>
                            <ul uib-dropdown-menu class="dropdown-menu dropdown_menu_display_options" role="menu" tabindex=0 aria-labelledby="select_role_dropdown">
                              <li ng-repeat="role in ctrlReg.roles"><a href="#" ng-click="ctrlReg.updateRoleOption(obj, role.value, $parent.$index)">{{role.value}}</a></li>
                            </ul>
                            <span class="has-error" ng-show="registerForm.projectRole{{$index}}.$error.required && registerForm.$submitted && !ctrlReg.showOther[$index]">Project Role Required</span>
                          </div>
                          <div class="form-group col-xs-12 clearfix" ng-show="ctrlReg.showOther[$index]">
                            <label for="otherProjectRole_input"><span class="ibmRed-50">*</span>Enter your role</label>
                            <input type="text" name="otherProjectRole_{{$index}}" id="otherProjectRole_input_{{$index}}" ng-model="obj.role" ng-trim="false" class="form-control"/>
                            <span class="has-error" ng-show="registerForm.projectRole{{$index}}.$error.required && registerForm.$submitted && ctrlReg.showOther[$index]">Project Role Required</span>
                          </div>
                        </div>

                        <div class="form-group col-xs-12 clearfix" ng-show="ctrlReg.isRolePortfolio()">
                            <label for="locales_select">Business unit</label>
                            <select name="select_business_unit" class="general_multi_select col-xs-12 register_locales_select" multiple ng-model="ctrlReg.selecteBUs">
                              <option ng-repeat="bu in ctrlReg.businessUnits" ng-value="bu">{{bu}}</option>
                            </select>
                            <p class="ibmGray-40">To select multiple items: Hold down the command key (Mac) or the control key (PC), and click each item you want to select. </p>
                        </div>

                    </fieldset>
                    <div class="col-xs-12" ng-show="registerForm.$submitted && registerForm.$invalid">
                        <div class="padded_container register_form_errors_container">
                            <h3 class="h1 ibm-bold">We're sorry,</h3>

                            <p>Your registration could not be submitted due to errors in the following field/fields</p>
                            <ul class="bulleted_list">
                                <li ng-show="registerForm.firstName.$error.required">First Name Required</li>
                                <li ng-show="registerForm.lastName.$error.required">Last Name Required</li>
                                <li ng-show="ctrlReg.checkAllRoles()">Project Role Required</li>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group form-group-margin-bottom form_submit_btns_container col-xs-12 clearfix">
                        <input class="btn btn-primary col-xs-12 submit_offering_btn ibm-bold" type="submit" value="Join now!" ng-click="ctrlReg.acceptRegistration(registerForm)">
                    </div>

                </form>

            </div>
        </div>
    </section>
</main>
</div>