.tmp/
db/
dist/
nbproject/
node_modules/
reports/
client/public/bower_components/
server/certs/
server/config/local.env.json
.idea
.env
.DS_Store
newrelic_agent.log
npm-debug.log
!.gitkeep
bin/pouchDB.log
bin/testServer.log
typings/