<!--
Licensed Materials - Property of IBM
@ Copyright IBM Corp. 2015 All Rights Reserved
US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
-->
<div ng-if="loadingPage">
  <div class="header_view" header></div>
  <main aria-label="Loading the requested page" role="main">
    <div class="page-section page_load_spinner_margin moving_loading_animation">
      Loading...
      <div class="ibm-spinner loading_spinner"></div>
    </div>
  </main>
</div>
