<div class="col-xs-12 input_element">
  <label ng-if="$ctrl.label" for="{{$ctrl.inputId}}"><span ng-show="$ctrl.minSelect > 0" class="has-error">*</span> {{$ctrl.label}}</label>
  <div ng-if="$ctrl.description" class="small_description_bottom">{{$ctrl.description}}</div>

  <div class="col-xs-12">
    <select id="{{$ctrl.inputId}}" name="{{$ctrl.inputName}}" multiple class="general_multi_select col-xs-12"
            ng-class="{'disabled' : $ctrl.isDisabled, 'has-error': $ctrl.formCtrl.{{$ctrl.inputName}}.$invalid && ($ctrl.formCtrl.$submitted || $ctrl.formCtrl.$$parentForm.$submitted)}"
            ng-options="option.value as option.display for option in $ctrl.optionList" ng-model="$ctrl.model"
            ng-change="$ctrl.checkValid();$ctrl.onChange();" ng-disabled="$ctrl.isDisabled"></select>
  </div>
  <ng-transclude></ng-transclude>
</div>
