<div class="col-xs-12 input_element">
  <div class="textarea_container content_custom_popover">
    <div ng-class="{'col-xs-12': !$ctrl.deletable, 'col-xs-10': $ctrl.deletable}">
      <label class="ibm-fleft control-label" for="{{$ctrl.inputId}}"><span ng-show="$ctrl.isRequired" class="has-error">*</span> {{$ctrl.label}}</label>
      <span ng-show="$ctrl.maxLength && $ctrl.focus" aria-live="polite" class="ibm-fright">{{$ctrl.maxLength - $ctrl.formCtrl[$ctrl.inputName].$$rawModelValue.length}} Characters Remaining</span>
    </div>
    <div class="col-xs-2 pull-right" ng-show="$ctrl.deletable">
      <button type="button" ng-click="$ctrl.onDelete()" class="pull-right btn delete_item_btn delete_item_btn_small icon-trash small_text">Delete</button>
    </div>
  <!-- <div class="col-xs-12 textarea_container content_custom_popover"> -->
    <textarea id="{{$ctrl.inputId}}" name="{{$ctrl.inputName}}" class="form-control" ng-class="{'has-error': $ctrl.formCtrl.{{$ctrl.inputName}}.$invalid && ($ctrl.formCtrl.$submitted || $ctrl.formCtrl.$$parentForm.$submitted)}"
           ng-model="$ctrl.model" ng-required="$ctrl.isRequired" ng-minlength="$ctrl.minLength" maxlength="{{$ctrl.maxLength}}" ng-pattern="$ctrl.regexPattern" ng-trim="false"
           ng-change="$ctrl.onChange({newValue: $ctrl.model})" ng-focus="$ctrl.focus = true" ng-blur="$ctrl.focus = false" popover-trigger="focus" popover-placement="right" uib-popover="{{$ctrl.description}}"></textarea>
    <div class="hide_default_text_resize"></div>
  </div>
  <!-- Error Messages -->
  <ng-transclude></ng-transclude>
</div>
