<!DOCTYPE html>
<!--
Licensed Materials - Property of IBM

@ Copyright IBM Corp. 2015 All Rights Reserved

US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
-->
<html>
<head></head>
<body>
<div>
  <div style="background-color: #F9F9F9;padding-top: 20px;padding-right: 50px;padding-bottom: 200px;padding-left: 50px;font-family: Arial;color: #5A5A5A;min-width:700px;max-width:700px;display:inline-block;">
    <div style="text-align: left;outline: #E0E0E0 solid 2px;background-color: white;padding-bottom: 50px;">
      <p style="text-align: center; padding: 15px;font-size: 18px;"><img style="width: 60px; height: 30px;" src="http://www.ibm.com/cloud-computing/images/nav/ibm-logo-alt.png" /></p>
      <p style="text-align: center; color: #37ae96;font-size: 26px">Globalization Workbench</p>
      <p style="color: #37ae96;padding-top: 20px;font-size: 22px;margin-top: 20px;margin-left: 100px;">Hello {{contactName}},</p>
      <div style="margin-left: 100px;margin-right: 100px;padding-bottom: 20px;">
        <p>
          {{inviter}} has invited you to collaborate on {{countries}} in IBM Marketplace's Globalization Workbench.
          Use the link below and then sign in to Globalization Workbench with the same email address that IBM
          sent this invitation to.
        </p>
        <br />
        <center>
          <a style="background-color: #5d6361;color: white;font-size: 15px;font-weight: bold;text-decoration: none;padding-top: 15px;padding-right: 50px;padding-left: 50px;padding-bottom: 15px;margin-top: 100px;margin-left: 75px;margin-bottom: 100px;margin-right: 75px" href="https://{{config.webHost}}{{config.webRoot}}register/cmm">
            Join Globalization Workbench
          </a>
        </center>
        <br />
        <p>
          - Globalization Workbench team
        </p>
      </div>
    </div>
    <div style="text-align: center;margin-top: 20px;">
      <p style="padding-top: 40px;padding-bottom: 20px;">
        <a style="text-decoration: none;color: #5A5A5A;" href="https://{{config.webHost}}/marketplace">Marketplace</a> <span style="color: #734098;padding-bottom: 20px;">&bull;</span>
        <a style="text-decoration: none;color: #5A5A5A;" href="mailto:owbteam@us.ibm.com?Subject=Feedback">Send Us Feedback</a>
      </p>
    </div>
  </div>
</div>
</body>
</html>
