//Licensed Materials - Property of IBM
//
//@ Copyright IBM Corp. 2015 All Rights Reserved
//
//US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP
//Schedule Contract with IBM Corp.

.cmm_header_view {
  height: $headerHeight;
  border-bottom: 1px solid $defaultBorderColor;
}

.locale-list-section{
  float: left;
  width: 841px;
}
.locale-anchor-section {
  margin-top: 45px;
  float: right;
  padding: 0px 16px 0px;
  font-size: 14px;
  ul {
    li {
      padding: 0px 0px 8px;
    }
  }
  .index-button {
    display: block;
    margin: 0 auto;
    width: 100%;
    color: $ibmGray-20;
    @include standardTransitions(0.5s, 0s);
    border: none;
    box-shadow: none;
    background-color: transparent;
    text-align: center;

    &:hover {
      color: $ibmGray-60;
      text-decoration: none;
      border: none;
    }

  }
  .active-index-button {
    color: $ibm-Green50;
  }
}

.directory-top-bottom-padding {
  margin-top: 60px;
  margin-bottom: 90px;
}

.cmmLocaleHead{
  border-bottom:0px !important;
  background-color: #ffffff !important;
}


.directory-offerings-container {
  border-right: 1px solid $defaultBorderColor;
  min-height: 900px;
  float: left;
  width: 902px;
}

.top-disclosure-info {
  border: 1px solid $defaultBorderColor;
  padding: 30px 31px 30px 30px;
  width: 850px;
  position: relative;
}

.directory-right-side-navs {
  min-height: 900px;
  float: left;
  width: 278px;
  position: relative;
}

.directory-right-side-header {
  padding: 0px 24px 18px;
}

.green {
  &::before {
    position: relative;
    font-size: 20px;
    padding-left: 10px;
    top: 4px;
    color: $ibm-Green50;
  }
}


.right-side-content-section {
  padding: 0px 24px 18px;
  .right-info {
    border: 1px solid $defaultBorderColor;
    padding: 30px 30px 30px;
    position: relative;
  }

  ul {
    li {
      padding-left: 0px;
    }
  }
}

.disclosure_close_btn {
  display: inline-block;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 12px;
  right: 8px;
  font-size: 20px
}

.directory-right-side-content {
  position: relative;
  width: 278px;
  transition: all 0.25s ease 0.0s;
}

.directory-right-side-sticky {
  .directory-right-side-content {
    position: fixed;
    top: 50px;
  }
}

.directory-title-section {
  .page-title-container {
    margin-top: 6px;
    margin-bottom: 45px;
  }

  .search-bar-container {
    padding-right: 20px;
  }
}

.locale-row:hover, .locale-row.selected{
  background-color: $ibmNeutral-2
}
