//Licensed Materials - Property of IBM
//
//@ Copyright IBM Corp. 2015 All Rights Reserved
//
//US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP
//Schedule Contract with IBM Corp.

.directory-top-padding {
  margin-top:20px;
}

.cmmLocaleHead{
  border-bottom:0px !important;
  background-color: #ffffff !important;
}


.directory-offerings-container {
  border-right: 1px solid $defaultBorderColor;
  min-height: 900px;
  float: left;
  width: 902px;
  margin-bottom: 40px;
}

.directory-right-side-navs {
  min-height: 900px;
  float: left;
  width: 278px;
  position: relative;
}

.directory-right-side-header {
  padding: 0px 24px 18px;
}

.green {
    &::before {
      color: $ibm-Green50;
    }
}


.right-side-content-section {
  padding: 0px 24px 18px;
  .right-info {
    border: 1px solid $defaultBorderColor;
    padding: 30px 30px 30px;
  }

  ul {
    li {
      padding-left: 0px;
    }
  }
}

.directory-right-side-content {
  position: relative;
  width: 278px;
  transition: all 0.25s ease 0.0s;
}

.directory-right-side-sticky {
  .directory-right-side-content {
    position: fixed;
    top: 50px;
  }
}

.directory-title-section {
  .page-title-container {
    margin-top: 6px;
    margin-bottom: 45px;
  }

  .search-bar-container {
    padding-right: 20px;
  }
}
