<!--
Licensed Materials - Property of IBM

@ Copyright IBM Corp. 2015 All Rights Reserved

US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
-->
<div>
  <div class="cmm_header_view" header></div>

  <main id="reviewDirectoryWrapper" aria-label="Locale directory." role="main">
    <section ng-show="!ctrlDS.loadingPage" class="page-section-container">
      <div class="page-section">
        <div class="page-content clearfix">

          <div class="directory-offerings-container">
            <div class="col-xs-12 directory-title-section clearfix directory-top-bottom-padding">
              <div class="col-xs-6 page-title-container-alt clearfix" role="region" aria-label="Page title and search filter">
                <!--- Page Title  --->
                <h1 class="page_title ibm-bold ibmTeal-50" id="welcome">Locale directory</h1>
              </div>

              <div class="locale-list-section col-xs-12">
                <table class="table commerce_review_details_table center_text">
                  <thead>
                  <tr>
                    <th class="center_text cmmLocaleHead" ng-click="ctrlCMM.sortOption = 'country'; ctrlCMM.sortField = !ctrlCMM.sortField; ctrlCMM.selectedIndex = '';">Country Name
                      <img class="upArrow" src="images/icons/sort-arrows.svg"/>
                    </th>
                    <th class="center_text cmmLocaleHead" ng-click="ctrlCMM.sortOption = 'language'; ctrlCMM.sortField = !ctrlCMM.sortField; ctrlCMM.selectedIndex = '';">Language
                       <img class="upArrow" src="images/icons/sort-arrows.svg"/>
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="locale-row" ng-class="{'selected': ctrlCMM.userLocales[x.locale]}" ng-repeat="x in ctrlCMM.localeList | orderBy: ctrlCMM.sortOption : ctrlCMM.sortField">
                    <td id="{{x.country}}">{{x.country}}</td>
                    <td>{{x.language}}</td>
                    <td ng-if="ctrlCMM.userLocales[x.locale]">Joined<span class="icon-check-circle-new green"></span></td>
                    <td ng-if="!ctrlCMM.userLocales[x.locale]"><a href="" ng-click="ctrlCMM.joinLocale(x.locale, 'editor');">Join Locale team</a></td>
                    <td><input class="btn btn-primary col-xs-12 submit_offering_btn ibm-bold" type="submit" value="Open Locale" ng-click=""/></td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="locale-anchor-section">
                <ul>
                  <li ng-repeat="anchor in ctrlCMM.alphabets">
                    <button type="button" ng-class="{'active-index-button': ctrlCMM.selectedIndex == anchor}" class="ibm-bold index-button" ng-click="ctrlCMM.scrollToCountry(anchor);">{{anchor}}</button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="directory-right-side-navs directory-top-bottom-padding">
            <div class="col-xs-12 directory-right-side-content">
              <h3 class="directory-right-side-header ibm-bold ibmGray-60">My Locales</h3>
              <div class="right-side-content-section">
                <span ng-if="!ctrlCMM.currentUser.locales || ctrlCMM.currentUser.locales.length == 0">You haven’t joined any locale teams yet. </span>
                <ul class="cmm-country-list" ng-if="ctrlCMM.currentUser.locales.length > 0">
                  <li ng-repeat="(code, country) in ctrlCMM.userLocales">
                    <a href="">{{country}}</a>
                  </li>
                </ul>
              </div>
              <div class="right-side-content-section">
                <div class="right-info">
                  These are the IBM Marketplace Globalization Workbench locale teams you belong to. You can use the Globalization Workbench to view, monitor, or manage your team's offerings. These locales are also listed in your navigation bar in the upper right.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>
</main>
</div>
