<!--
Licensed Materials - Property of IBM

@ Copyright IBM Corp. 2015 All Rights Reserved

US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
-->
<div id="pwb-universal-nav" class="page-section-container" role="banner" aria-label="Top navigation">
  <style type="text/css" ng-if="!headerCtrl.user._id">
    .ibm-masthead-item-search {
      margin-right: 38px;
    }
  </style>

  <div id="pwb-masthead" class="page-section">
    <div class="page-content clearfix">

      <div id="pwb-top-main-navs" class="pwb-top-navs clearfix">
        <ul tabindex="0" role="menubar" aria-label="Main menu for application" class="zero_out_block_list clearfix">
          <li role="menuitem" id="pwb-home-link" ng-if="headerCtrl.pageSlug !== 'qualificationForm' && headerCtrl.pageSlug !== 'qualificationConfirmation' && headerCtrl.pageSlug !== 'academy-dashboard' && headerCtrl.pageSlug !== 'cmm-directory' && headerCtrl.pageSlug !== 'cmm-review' && headerCtrl.pageSlug !== 'register'"><a tabindex="0" id="pwb-home-link-tag" ng-class="{'active-nav': headerCtrl.currentpage == 'home'}" class="inert-link ibmGray-80 h3 ibm-bold" href="./" target="_self" aria-label="Operator Workbench homepage">Operator Workbench</a></li>
          <li role="menuitem" id="pwb-home-link" ng-if="headerCtrl.pageSlug === 'register' || headerCtrl.pageSlug === 'cmm-directory'"><a tabindex="0" id="pwb-home-link-tag" ng-class="{'active-nav': headerCtrl.currentpage == 'home'}" class="inert-link ibmGray-80 h3 ibm-bold" href="./" target="_self" aria-label="Operator Workbench homepage">Globalization Workbench</a></li>
        </ul>
      </div>

    </div>
  </div>
</div>
