//Licensed Materials - Property of IBM
//
//@ Copyright IBM Corp. 2015 All Rights Reserved
//
//US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP
//Schedule Contract with IBM Corp.
/**
 * CMM Only Styles
 */

 .country-info {
   color:#008571;
   font-family: $ibmHelvBold;
   font-size: $heroHeaderSize;
   font-weight: bold;
 }
