---
  rules:
    indent:
      - 2
      - 4
    quotes:
      - 2
      - "double"
    linebreak-style:
      - 2
      - "unix"
    semi:
      - 2
      - "always"
    no-bitwise: 2
    curly: 2
    eqeqeq:
      - 2
      - "smart"
    guard-for-in: 0
    wrap-iife:
      - 2
      - "outside"
    no-use-before-define:
      - 2
      - "nofunc"
    max-params:
      - 2
      - 5
    max-depth:
      - 2
      - 3
    new-cap: 2
    no-empty: 2
    no-new: 1
    no-plusplus: 2
    no-unused-vars: 1
    strict: 0
    no-console: 0
    eol-last: 2
    # Spaces and indentation rules
    no-trailing-spaces: 2
    no-irregular-whitespace: 2
    block-spacing: 2
    no-mixed-spaces-and-tabs: 2
    no-spaced-func: 2
    keyword-spacing: ["error", {"before": true, "after": true, "overrides": {}}]
    space-before-blocks: 2
    space-before-function-paren: 2
    space-in-parens: 2
    space-infix-ops: 2
    space-unary-ops: 2
    spaced-comment: 2
    key-spacing: [2, {"beforeColon": false, "afterColon": true}]
  globals:
    request: false
  env:
    es6: true
    node: true
    mocha: true
  extends:
    - "eslint:recommended"
  ecmaFeatures:
    jsx: true
    experimentalObjectRestSpread: true
