<!DOCTYPE html>
<!--
Licensed Materials - Property of IBM

@ Copyright IBM Corp. 2015 All Rights Reserved

US Government Users Restricted Rights - Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
-->
<html lang="en-US">
  <head>
    <base href="{{webRoot}}">
    <meta charset="UTF-8">

    <!-- TODO: Validate values of metadata -->
    <link rel="icon" href="//www.ibm.com/favicon.ico">
    <link rel="canonical" href="http://www.ibm.com/TBD">

    <meta name="dcterms.date" content="2015-08-17">
    <meta name="dcterms.rights" content="© Copyright IBM Corp. 2015">
    <meta name="description" content="Service Provider Workbench">
    <meta name="geo.country" content="US">
    <meta name="keywords" content="marketplace, service, provider, workbench">
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script>
      digitalData = {
        page: {
          category: {
            primaryCategory: "REPLACE"
          },
          pageInfo: {
            effectiveDate: "2015-10-15",
            expiryDate: "2395-01-01",
            language: "en-US",
            publishDate: "2015-10-15",
            publisher: "IBM Corporation",
            version: "v18",
            ibm: {
              contentDelivery: "REPLACE",
              contentProducer: "REPLACE",
              country: "US",
              industry: "REPLACE",
              owner: "REPLACE",
              owningPortal: "REPLACE",
              siteID: "REPLACE",
              subject: "REPLACE",
              type: "REPLACE"
            }
          }
        }
      };
    </script>

    <title>Terms of Use - Service Provider Workbench</title>

    <link href="//1.www.s81c.com/common/v18/css/www.css" rel="stylesheet">

    <script type="text/javascript">
      // Standard v18 settings
      IBMCore.common.util.config.set({
        "masthead":{
            "type":"alternate"
        },
        "greeting": {
            "enabled": false
        },
        "sticky": {
          "enabled": false
        },
        "sbs": { "enabled": false }
      });

      var addedSignInOut = false;

      IBMCore.common.module.masthead.subscribe("ready", "customjs", function() {
        var profileMenuLinks = [];

        profileMenuLinks.push({"title": "MyIBM", "url":"https://myibm.ibm.com/dashboard/?lnk=mmi"});
        profileMenuLinks.push({"title": "Profile", "url":"https://www.ibm.com/myibm/profile/?lnk=mmi"});
        profileMenuLinks.push({"title": "Products and services", "url":"https://www.ibm.com/myibm/products-services/?lnk=mmi"});
        profileMenuLinks.push({"title": "Notifications", "url":"https://myibm.ibm.com/notifications/?lnk=mmi"});
        profileMenuLinks.push({"title": "Support", "url":"http://www.ibm.com/support/en-us/?lnk=mmi"});

        IBMCore.common.module.masthead.subscribe("profileMenuReady", "customjs", function() {
          var xmlhttp = new XMLHttpRequest();
          xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4) {

              for(var i = 0; i < profileMenuLinks.length; i++) {
               if (profileMenuLinks[i].title == "Sign Out" || profileMenuLinks[i].title == "Sign In") {
                 addedSignInOut = true;
               }
              }

              if(xmlhttp.status == 200 && !addedSignInOut) {
                var userLogginData = JSON.parse(xmlhttp.responseText);

                if (userLogginData._id) {
                  profileMenuLinks.push({"title": "Sign Out", "url":"auth/logout"});
                }
                else {
                  profileMenuLinks.push({"title": "Sign In", "url":"auth/sso"});
                }

              }
              else if(!addedSignInOut) {
                profileMenuLinks.push({"title": "Sign In", "url":"auth/sso"});
              }

              IBMCore.common.module.masthead.editProfileMenu({
                 action: "replace",
                 links: profileMenuLinks
              });

            }
          }

          xmlhttp.open("GET", "api/user/", true);
          xmlhttp.send();
        });

      });
    </script>

    <!-- build:css(client/private) app/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp,client}/public) app/app.css -->
    <!-- inject:css -->
    <link rel="stylesheet" href="app/app.css">
    <!-- endinject -->
    <!-- endbuild -->

  </head>
  <body class="ibm-type" id="ibm-com">
  <div class="application_container primary_v18_footer clearfix">
    <div class="application_view">

      <section id="termsOfUseWrapper" class="page-section-container">
        <div class="page-section">
            <div class="page-content clearfix">

              <h1 class="ibmPurple-60 ibm-bold larger_margin_bottom">IBM Marketplace Provider Agreement</h1>

              <h2 class="ibmGray-60 h3 larger_margin_bottom">General Terms</h2>

              <ol class="ordered_list">
                <li class="ibmGray-60"><h3 class="ibmGray-60">Your Responsibilities as an IBM Digital Marketplace Provider </h3>

                  <ol class="ordered_list alphabetical_lowercase_list">
                    <li>All IBM offerings must be approved as usable and saleable to customers, in accordance with the approval process used by your business unit.  This includes all legal and export clearance approvals, as well as all regulatory requirements regarding product categorization, classification and tagging.  The Marketplace does not provide any relief from IBM product release requirements</li>
                    <li>You are responsible for ensuring your offering is published on the go-live date
                      <ol class="ordered_list roman_lowercase_list">
                        <li>If the offering is a SaaS product, the name must be approved by the cloud naming council to be published. You must submit the name to be approved at least six/6 weeks before your go-live date</li>
                        <li>In addition, content and commerce tasks must be submitted at least two/2 weeks before your go-live date in order to meet your go-live date</li>
                      </ol>
                    </li>
                    <li>Security is a critical element to an Offering’s reputation and success.  You are responsible for the security of your Offering/s, including any user data collected in connection with your Offering/s.  IBM Offerings must adhere to all IBM policies and practices for security, including ITCS104 compliance (if applicable)</li>
                    <li>As the Marketplace expands to additional countries, there may be additional requirements that your Offering/s will need to meet in order to participate in a marketplace for those countries.  You are responsible for understanding and complying with country-specific requirements</li>
                    <li>Your Offering must conform to all integration requirements for the Marketplace and to the products, services and platforms to which it is integrating, to enable such functionality as automated provisioning, single sign-on, metering usage and commerce, as applicable</li>
                    <li>Your Offering cannot be dependent on any other IBM product or service that has been withdrawn from support</li>
                    <li>You are responsible for creating, managing, supporting and paying for the implementation and ongoing operations of your Cloud Offerings on SoftLayer, including any agreements with SoftLayer</li>
                    <li>You are responsible for creating and maintaining your offering’s list details and pricing editions in the Marketplace. You must offer provide a trial, demo, and/or free edition of your offering. Additionally, you must provide at least one priced edition and/or support contact for a quote request.</li>
                    <li>The GTM and RTM for offerings are the responsibility of each IBM Product Owner.  You are responsible for working with the Marketplace team to be included in any of the appropriate merchandising, marketing, and/or sales enablement activities for your offering/s.</li>
                    <li>You must submit a qualification for approval in order for your offering to be considered for Marketplace onboarding</li>
                    <li>You must submit offering content/product details that will be reviewed by a marketplace team member. Content/product details must be approved prior to being published to the Marketplace</li>
                    <li>You may remove any offering from the Marketplace, provided you give all subscribing users ninety (90) days written notice prior to any removal</li>
                    <li>You must provide customer/end user support for your Offering; this will not be provided by the Marketplace team.  This includes the handling of all billing disputes and refunds/credits specific to your Offering/s</li>
                    <li>Your offering team is responsible for receiving, handling, and resolving all user complaints about the Offering, including complaints regarding service level agreements, performance, outages, response times, features and function of the Offering, and any other user satisfaction issues for the Offering/s</li>
                    <li>You are responsible for staying up-to-date on the current IBM Digital Marketplace Provider Agreement, as it may be changed at any time with or without notification</li>
                  </ol>
                </li>

                <li class="ibmGray-60"><h3 class="ibmGray-60">Responsibilities of the IBM Digital Marketplace</h3>
                  <ol class="ordered_list alphabetical_lowercase_list">
                    <li>Own the overall marketplace and have an end user agreement for usage of the marketplace</li>
                    <li>Ensure correct invoicing via IBM process, using CFTs, automated Sprint billing, A/R  </li>
                    <li>Ensure proper collection and processing of tax payments via backend systems </li>
                    <li>For credit card scenarios, collect payment from customers based on their usage and handle applicable tax payments as well</li>
                    <li>Implement and maintain security and controls of the Marketplace environment</li>
                    <li>Provide end user support and support for providers for the Marketplace features and capabilities. </li>
                    <p class="paragraph_in_list">Please note that these agreements may change periodically. </p>
                    <li>Provide access to content editing tools for providers to create and manage the content for their Offering/s Marketplace pages </li>
                    <li>Review and approve Offerings for publication in the Marketplace</li>
                    <li>Marketplace will do overall marketing and demand generation around the Marketplace and will provide various merchandising opportunities overall</li>
                    <li>The Marketplace may operate several sub-marketplaces (such as for specific country or region marketplace) or Private Label Marketplaces (offered to IBM enterprise accounts that may be branded by the enterprise or co-branded with IBM)</li>
                    <li>The Marketplace will be the contact for refunds, credits and billing disputes from users.  The Marketplace team will in turn contact the vendor/s to review applicable refund requests.  If the Marketplace refunds the user for any reason, the Marketplace may deduct that amount from the revenue routed to your Offering/s.  The Marketplace will make the final decision on credits and refunds in its sole discretion</li>
                    <li>We reserve the right to remove your offering from the marketplace at any time, without notice</li>
                  </ol>
                </li>

                <li class="ibmGray-60"><h3 class="ibmGray-60">Responsibilities of the Provider Workbench</h3>
                  <ol class="ordered_list alphabetical_lowercase_list">
                    <li>Support Providers in the onboarding and management of their offering/s in the Digital Marketplace</li>
                    <li>Provide a single environment to learn about the steps to onboard and to complete onboarding and management tasks and responsibilities</li>
                    <li>The Provider Workbench will support an increasing number of offering types, users and user roles, and onboarding and management tasks and functions. Users may need to perform onboarding and management tasks and responsibilities using tools and processes not supported by the Provider Workbench until future releases of the tool </li>
                  </ol>
                </li>

                <li class="ibmGray-60"><h3 class="ibmGray-60">Financial Codes, Revenue Routing, Cost</h3>
                  <ol class="ordered_list alphabetical_lowercase_list">
                    <li>The Marketplace will route 100% of the revenue from sales of your Offering/s to the IBM ledger as green dollar revenue.  For IBM invoicing, ledger processing and revenue scoring occurs at the time the client is invoiced.  For credit card processing, revenue and customer payments will be processed to the ledger no later than the end of the month of the invoice date. Revenue routing is handled by IBM Finance, with ledger feeds starting the third week of every month (opens around the 13th day, but can vary a little due to weekends and holidays) thru the end of the month.</li>
                    <li>For credit card processing, there is a Marketplace processing fee of $0.05 per individual transaction and a ~ 3% credit card processing fee for each credit card payment amount. The Marketplace will cover these costs</li>
                    <li>You need to provide the Marketplace finance/revenue routing codes for your business unit and Offering/s. These finance/revenue routing codes will apply to all Offerings that are published under this qualification and will be linked to your Marketplace Account.  If you have different Offerings that need different finance revenue routing codes, you will need to submit a separate qualification for a separate Marketplace Account for those other Offerings</li>
                  </ol>
                </li>

                <li class="ibmGray-60"><h3 class="ibmGray-60">Acceptance of Agreement</h3>
                  <ol class="ordered_list alphabetical_lowercase_list">
                    <li>Your acceptance confirms that you agree to all IBM Digital Marketplace Provider terms of use outlined above</li>
                  </ol>
                </li>
              </ol>

            <p>&nbsp;</p>

      </div>
    </div>
    </section>

  </div>
  <div class="push_footer_to_bottom primary_v18_footer"></div>

</div>
  </body>
</html>
