<div class="col-xs-12">
  <div class="col-xs-3 review-column ibmGray-40" ng-class="{'review-row': !inGroup || groupLabel}">{{groupLabel}}</div>
  <div class="col-xs-3 review-row review-column ibm-bold ibmGray-40">{{label}}</div>
  <div class="col-xs-6 review-row review-column review-link" ng-if="value !== '' && value !== undefined">
    <div class="col-xs-2 review-img">
      <img ng-src="{{href}}" width="80"></img>
      <a ng-href="{{href}}" target="_blank"><div class="review-img-overlay"></div></a>
    </div>
    <div class="col-xs-10 review-img-name">
      <a ng-href="{{href}}" target="_blank">{{value}}<a>
    </div>
  </div>
  <div class="col-xs-6 review-row review-column" ng-if="value === '' || value === undefined"><em class="ibmGray-40">N/A</em></div>
</div>
